/*.DashboardPage {
    text-align: center;
    height: 100%;
    width: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
  }
  

  
  .LeftNav{
    margin: 0;
    height: 100%;
    width: 22%;
    border-right: 1px solid #111;
  }
  .container{
    height: 100%;
    display: flex;
    flex-direction:row;
  }
  .LeftNav ul{
    list-style-type: none;
    font-size: 1em;
    float: right;
    background: white;
    margin: 0;
  }
  .LeftNav li{
    margin: 20px 0px;
    list-style-type: none;
    text-align: left;
    transition: all 0.2s ease-out;
  }
  .LeftNav li:hover:not(.active) {
    background-color: #eeeeee;
    color: #425cee;
    border-radius: 20px 0px 0px 20px;
    padding: 10px 0px 10px 7px;
    transition: all 0.05s ease-out;
  }
  .Logs{
    width: 100%;
    background: white;
  }
  .Logs li{
    display: inline;
  }
  .Logs li a{
    color: #111;
    text-decoration: none;
    padding: 5px 0px;
  }
  .Logs a:hover:not(.active) {
    color: #425cee;
  }
  
  .Logs ul{
    box-shadow: 0px 2px 5px #e5e8fc;
    padding: 20px 20px 10px 20px; 
    display: inline-block;
    background: white;
  }
  
  .NewCampaign {
    background: #425cee;
    color: white;
    float: right;
    padding: 10px;
    font-size: 11px;
    text-decoration: none;
    border-radius: 20px;
    height: flex;
  }
  
  .NewCampaign:hover:not(.active) {
    background: #f1ebeb;
  }
  
  .NumberCircle{
    background: #425cee;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    display: inline-block;
    font-size: 17px;
    color: white;
  }
  .logHead{
  box-shadow: 0px 1px 3px 1px #dcdff1;
  padding: 5px;
  display: list-item;
  list-style: none;
  color: #111111dc;
  text-decoration: none;
  }
  */